/.PERSO/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Node / CLASP =====
node_modules/
npm-debug.log*
yarn-error.log*

# ===== CLASP =====
.clasp.json
.clasp.*.json

# ===== Google Apps Script =====
# Fichiers temporaires ou de sauvegarde
*.bak
*.tmp
*~

# ===== IDE / Editor =====
.vscode/
.idea/
*.swp
*.swo

# ===== Logs =====
logs/
*.log

# ===== Build / cache =====
dist/
.cache/
